@using netCoreLab;
@model dynamic

@{
    ViewData["Title"] = "BooksByAuthor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books By Author</h2>

<div class="row">

    <p><b>Book List</b></p>

    <table class=" table table-striped table-bordered table-hover">
        <tr>
            <th>Title ID</th>
            <th>Title</th>
            <th>Type</th>
            <th>Pub ID</th>
            <th>Price</th>
            <th>Pub Date</th>
        </tr>

        @{
            foreach (var book in Model.Books)
            {
            <tr>
                <td>@book.TitleID</td>
                <td>@book.Title</td>
                <td>@book.Type</td>
                <td>@book.PubID</td>
                <td>@book.Price</td>
                    <td>@book.PubDate</td>
                </tr>
            }
        }
    </table>
</div>