﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    31 College Dr<br />
    Concord, NH 03301<br />
    <abbr title="Phone">P:</abbr>
    603.271.6484
</address>
