@model Service.bookViewModel

@{
    ViewData["Title"] = "CreateBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a Book</h2>

<form asp-action="CreateBook">
    <div class="form-horizontal">
        <h4>New Book Info</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TitleID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TitleID" class="form-control" />
                <span asp-validation-for="TitleID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PubID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PubID" class="form-control" />
                <span asp-validation-for="PubID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PubDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PubDate" class="form-control" />
                <span asp-validation-for="PubDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

