﻿@using netCoreLab;
@model dynamic

@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>  

<div class="row">
    
    <p><b>Author List</b></p>

    <table class=" table table-striped table-bordered table-hover">
        <tr>
            <th></th>
            <th>Author ID</th>
            <th>Author Name</th>
            <th>Author Phone</th>
            <th>Author Address</th>
            <th>Author City</th>
            <th>Author State</th>
            <th>Author Zip</th>
            <th>Author Contract</th>
            <th></th>
        </tr>

        @{
            foreach (var author in Model.Authors)
            {
                <tr>
                    <td>@Html.RouteLink("Edit", "EditRoute", new { id = author.ID })</td>
                    <td>@author.ID</td>
                    <td>@author.Name</td>
                    <td>@author.Phone</td>
                    <td>@author.Address</td>
                    <td>@author.City</td>
                    <td>@author.State</td>
                    <td>@author.Zip</td>
                    <td>@author.Contract</td>
                    <td>@Html.RouteLink("Books", "BooksByAuthorRoute", new { id = author.ID })</td>
                </tr>
            }
        }
    </table>

    <button>@Html.RouteLink("Add an Author", "CreateRoute", new { })</button>

    <p></p>
    <p><b>Book List</b></p>

    <table class=" table table-striped table-bordered table-hover">
        <tr>
            <th>Title ID</th>
            <th>Title</th>
            <th>Type</th>
            <th>Pub ID</th>
            <th>Price</th>
            <th>Pub Date</th>
        </tr>

        @{
            foreach (var book in Model.Books)
            {
                <tr>
                    <td>@book.TitleID</td>
                    <td>@book.Title</td>
                    <td>@book.Type</td>
                    <td>@book.PubID</td>
                    <td>@book.Price</td>
                    <td>@book.PubDate</td>
                </tr>
            }
        }
    </table>
    <button>@Html.RouteLink("Add a Book", "CreateBooksRoute", new { })</button>
</div>